<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Eita.</h1>
        <h2>Deu ruim! Alguma coisa de errado aconteceu! Fora Bolsonaro!.</h2>
    </hgroup>
</body>
</html>
